node-red/flows.json
[{"id":"db81865e.1b9518","type":"tab","label":"PresenceDetection","disabled":false,"info":""},{"id":"8dc7985d.16bdc8","type":"tab","label":"Heating","disabled":false,"info":""},{"id":"95a3bba1.b1fe08","type":"tab","label":"Datawatt","disabled":true,"info":""},{"id":"c312ceb4.aa698","type":"tab","label":"GHome","disabled":false,"info":""},{"id":"42443e77.79a5b","type":"server","z":"","name":"Home Assistant"},{"id":"b430708b.f3f62","type":"mqtt-broker","z":"","name":"Main","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a25b1f41.45b3f","type":"mqtt-broker","z":"","name":"Datawatt","broker":"cloud.datawatt.pt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80cf2236.b57b3","type":"nora-config","z":"","name":"Nora-GHome","group":"","notify":false},{"id":"a7fdf8bd.c349e8","type":"server-state-changed","z":"db81865e.1b9518","name":"Joao Home","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.joao_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":40,"wires":[[],["8e840c2b.85dbe"]]},{"id":"ae3da074.08599","type":"api-current-state","z":"db81865e.1b9518","name":"Joao Home","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.joao_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":40,"wires":[[],["59dca581.e5ee3c"]]},{"id":"5b530c46.6b8d94","type":"server-state-changed","z":"db81865e.1b9518","name":"Bianca Home","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.bianca_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":100,"wires":[[],["8e840c2b.85dbe"]]},{"id":"8e840c2b.85dbe","type":"api-current-state","z":"db81865e.1b9518","name":"Bianca Home","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.bianca_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":40,"wires":[[],["ae3da074.08599"]]},{"id":"59dca581.e5ee3c","type":"api-current-state","z":"db81865e.1b9518","name":"House Guests","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":40,"wires":[[],["4873665e.64b2a8"]]},{"id":"4873665e.64b2a8","type":"api-call-service","z":"db81865e.1b9518","name":"House Not Occupied","server":"42443e77.79a5b","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.notify_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":40,"wires":[[]]},{"id":"bdc87701.65c3e8","type":"api-call-service","z":"db81865e.1b9518","name":"House Occupied","server":"42443e77.79a5b","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.notify_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":240,"wires":[[]]},{"id":"9da05189.022a8","type":"server-state-changed","z":"db81865e.1b9518","name":"Joao Home","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.joao_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":240,"wires":[["bdc87701.65c3e8"],[]]},{"id":"c02500f0.f1482","type":"server-state-changed","z":"db81865e.1b9518","name":"Bianca Home","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.bianca_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":300,"wires":[["bdc87701.65c3e8"],[]]},{"id":"7152bff.3ade74","type":"server-state-changed","z":"db81865e.1b9518","name":"House Guest","server":"42443e77.79a5b","version":1,"entityidfilter":"input_boolean.house_guest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":360,"wires":[["bdc87701.65c3e8"],[]]},{"id":"fc1a1d2c.513d6","type":"server-state-changed","z":"db81865e.1b9518","name":"House Guest","server":"42443e77.79a5b","version":1,"entityidfilter":"input_boolean.house_guest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":160,"wires":[[],["8e840c2b.85dbe"]]},{"id":"a29f4972.3bf498","type":"server-state-changed","z":"db81865e.1b9518","name":"HallwayPresence","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.hallway_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1140,"wires":[[],[]]},{"id":"d39650b7.829a6","type":"server-state-changed","z":"db81865e.1b9518","name":"HallwaySW","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.hallway_light_sw","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":106,"y":1070,"wires":[[],[]]},{"id":"247cb8f9.19e088","type":"api-current-state","z":"db81865e.1b9518","name":"HallwayLightState","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"light.hallway","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":506,"y":1070,"wires":[["85e2286c.6add68"],["85e2286c.6add68"]]},{"id":"86a17de3.7522c","type":"api-call-service","z":"db81865e.1b9518","name":"TurnHallwayLightOn","server":"42443e77.79a5b","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hallway","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":1120,"wires":[[]]},{"id":"85e2286c.6add68","type":"change","z":"db81865e.1b9518","name":"SaveHallwayLight","rules":[{"t":"set","p":"HallwayLightState","pt":"flow","to":"msg.payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":726,"y":1070,"wires":[[]]},{"id":"4828d312.e16efc","type":"delay","z":"db81865e.1b9518","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":276,"y":1070,"wires":[["247cb8f9.19e088"]]},{"id":"8effc455.2e66f8","type":"api-current-state","z":"db81865e.1b9518","name":"HallwayLightState","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"light.hallway","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":526,"y":1130,"wires":[[],["86a17de3.7522c"]]},{"id":"2770f6e1.17cafa","type":"api-current-state","z":"db81865e.1b9518","name":"SunState","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"bellow_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":316,"y":1230,"wires":[[],[]]},{"id":"8990427b.abbf2","type":"server-state-changed","z":"db81865e.1b9518","name":"Aluminium Joao Beacon","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.esp32_ble_tracker_joao_beacon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":440,"wires":[["9b6ee622.b13978"],[]]},{"id":"7489a1ea.9a58f","type":"server-state-changed","z":"db81865e.1b9518","name":"Aluminium Bianca Beacon","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.esp32_ble_tracker_bianca_beacon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":149,"y":506,"wires":[["a0e6eaf8.e0c988"],[]]},{"id":"271198f3.20f498","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"home-assistant/location/joao_beacon","qos":"","retain":"false","broker":"b430708b.f3f62","x":690,"y":440,"wires":[]},{"id":"6ced3222.18cecc","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"home-assistant/location/bianca_beacon","qos":"","retain":"false","broker":"b430708b.f3f62","x":699,"y":506,"wires":[]},{"id":"9b6ee622.b13978","type":"change","z":"db81865e.1b9518","name":"Change MSG to Hallway","rules":[{"t":"set","p":"HallwayLightState","pt":"msg","to":"Hallway","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":440,"wires":[["271198f3.20f498"]]},{"id":"a0e6eaf8.e0c988","type":"change","z":"db81865e.1b9518","name":"Change MSG to Hallway","rules":[{"t":"set","p":"HallwayLightState","pt":"msg","to":"Hallway","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":409,"y":506,"wires":[["6ced3222.18cecc"]]},{"id":"d409e84c.781fa8","type":"server-state-changed","z":"8dc7985d.16bdc8","name":"","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.sonoff_basic_heating_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":237,"y":124,"wires":[["14c7a465.7538fc"],[]]},{"id":"454e5328.52b0ac","type":"api-call-service","z":"8dc7985d.16bdc8","name":"","server":"42443e77.79a5b","version":1,"service_domain":"climate","service":"turn_on","entityId":"climate.heating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":160,"wires":[[]]},{"id":"c23bb33c.37bec","type":"api-call-service","z":"8dc7985d.16bdc8","name":"","server":"42443e77.79a5b","version":1,"service_domain":"climate","service":"turn_off","entityId":"climate.heating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":100,"wires":[[]]},{"id":"14c7a465.7538fc","type":"api-current-state","z":"8dc7985d.16bdc8","name":"","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":597,"y":124,"wires":[["c23bb33c.37bec"],["454e5328.52b0ac"]]},{"id":"e64f0257.f98da","type":"mqtt out","z":"95a3bba1.b1fe08","name":"","topic":"datawatt/power/status","qos":"","retain":"","broker":"b430708b.f3f62","x":540,"y":60,"wires":[]},{"id":"a6f4fe59.b2a86","type":"mqtt in","z":"95a3bba1.b1fe08","name":"DataWatt - Power","topic":"jms/topic/ext/8848f38eb8388ff80e8/power","qos":"0","datatype":"json","broker":"a25b1f41.45b3f","x":120,"y":60,"wires":[["e64f0257.f98da"]]},{"id":"c0dda5b1.6c45c8","type":"mqtt in","z":"95a3bba1.b1fe08","name":"DataWatt - Energy / Day","topic":"jms/topic/ext/8848f38eb8388ff80e8/energy/daily","qos":"0","datatype":"json","broker":"a25b1f41.45b3f","x":150,"y":180,"wires":[["13795f9e.2c87a"]]},{"id":"13795f9e.2c87a","type":"mqtt out","z":"95a3bba1.b1fe08","name":"","topic":"datawatt/energy/daily/status","qos":"","retain":"","broker":"b430708b.f3f62","x":520,"y":180,"wires":[]},{"id":"9ed2f430.851b18","type":"mqtt out","z":"95a3bba1.b1fe08","name":"","topic":"datawatt/energy/hour/status","qos":"","retain":"","broker":"b430708b.f3f62","x":520,"y":120,"wires":[]},{"id":"5da447b8.db99b8","type":"mqtt in","z":"95a3bba1.b1fe08","name":"DataWatt - Energy / Hour","topic":"jms/topic/ext/8848f38eb8388ff80e8/energy/hour","qos":"0","datatype":"json","broker":"a25b1f41.45b3f","x":150,"y":120,"wires":[["9ed2f430.851b18"]]},{"id":"61a2972d.ff2938","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Modo de jantar","roomhint":"Sala","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"str","offvalue":"false","offvalueType":"bool","x":120,"y":40,"wires":[["58ff9a22.7d2e74"]]},{"id":"58ff9a22.7d2e74","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.routine_dinner_time","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":80,"wires":[[]]},{"id":"6bfee68f.4cb648","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Limpeza Aspirador","roomhint":"Sala","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"str","offvalue":"false","offvalueType":"bool","x":910,"y":80,"wires":[["a6663f34.502e5"]]},{"id":"a6663f34.502e5","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.task_roborock_clean","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":80,"wires":[[]]},{"id":"a48688d5.783fd8","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Limpeza da Areia","roomhint":"Sala","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"str","offvalue":"false","offvalueType":"bool","x":900,"y":140,"wires":[["1c8d7266.8f8fae"]]},{"id":"1c8d7266.8f8fae","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cat_litter_clean","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":140,"wires":[[]]},{"id":"ae903858.df3618","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Substituição da Areia","roomhint":"Sala","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"str","offvalue":"false","offvalueType":"bool","x":920,"y":200,"wires":[["79b71010.ae7e4"]]},{"id":"79b71010.ae7e4","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.cat_litter_change","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":200,"wires":[[]]},{"id":"6fea18e9.97f808","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Modo Televisão","roomhint":"Sala","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"str","offvalue":"false","offvalueType":"bool","x":120,"y":180,"wires":[["cc130720.475de8"]]},{"id":"cc130720.475de8","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.television_night","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":180,"wires":[[]]},{"id":"f9349c69.2de7b","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Modo de refeição","roomhint":"Sala","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"str","offvalue":"false","offvalueType":"bool","x":120,"y":80,"wires":[["58ff9a22.7d2e74"]]},{"id":"360675db.8785aa","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Vitamina D Ricardo","roomhint":"Sala","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"str","offvalue":"false","offvalueType":"bool","x":910,"y":280,"wires":[["b183fe8c.85d5f"]]},{"id":"b183fe8c.85d5f","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.task_ricardo_vitamin_d","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":280,"wires":[[]]}]