node-red/flows.json
[{"id":"db81865e.1b9518","type":"tab","label":"PresenceDetection","disabled":false,"info":""},{"id":"8dc7985d.16bdc8","type":"tab","label":"Heating","disabled":false,"info":""},{"id":"95a3bba1.b1fe08","type":"tab","label":"Datawatt","disabled":true,"info":""},{"id":"c312ceb4.aa698","type":"tab","label":"GHome","disabled":false,"info":""},{"id":"42443e77.79a5b","type":"server","z":"","name":"Home Assistant"},{"id":"b430708b.f3f62","type":"mqtt-broker","z":"","name":"Main","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a25b1f41.45b3f","type":"mqtt-broker","z":"","name":"Datawatt","broker":"cloud.datawatt.pt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80cf2236.b57b3","type":"nora-config","z":"","name":"Nora-GHome","group":"","notify":false},{"id":"ac9284b7.41b378","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"a00ba9cc.0db1c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7fdf8bd.c349e8","type":"server-state-changed","z":"db81865e.1b9518","name":"Joao Home","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.joao_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":40,"wires":[[],["8e840c2b.85dbe"]]},{"id":"ae3da074.08599","type":"api-current-state","z":"db81865e.1b9518","name":"Joao Home","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.joao_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":40,"wires":[[],["59dca581.e5ee3c"]]},{"id":"5b530c46.6b8d94","type":"server-state-changed","z":"db81865e.1b9518","name":"Bianca Home","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.bianca_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":100,"wires":[[],["8e840c2b.85dbe"]]},{"id":"8e840c2b.85dbe","type":"api-current-state","z":"db81865e.1b9518","name":"Bianca Home","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.bianca_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":40,"wires":[[],["ae3da074.08599"]]},{"id":"59dca581.e5ee3c","type":"api-current-state","z":"db81865e.1b9518","name":"House Guests","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":40,"wires":[[],["4873665e.64b2a8"]]},{"id":"4873665e.64b2a8","type":"api-call-service","z":"db81865e.1b9518","name":"House Not Occupied","server":"42443e77.79a5b","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.notify_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":40,"wires":[[]]},{"id":"bdc87701.65c3e8","type":"api-call-service","z":"db81865e.1b9518","name":"House Occupied","server":"42443e77.79a5b","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.notify_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":240,"wires":[[]]},{"id":"9da05189.022a8","type":"server-state-changed","z":"db81865e.1b9518","name":"Joao Home","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.joao_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":240,"wires":[["bdc87701.65c3e8"],[]]},{"id":"c02500f0.f1482","type":"server-state-changed","z":"db81865e.1b9518","name":"Bianca Home","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.bianca_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":300,"wires":[["bdc87701.65c3e8"],[]]},{"id":"7152bff.3ade74","type":"server-state-changed","z":"db81865e.1b9518","name":"House Guest","server":"42443e77.79a5b","version":1,"entityidfilter":"input_boolean.house_guest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":360,"wires":[["bdc87701.65c3e8"],[]]},{"id":"fc1a1d2c.513d6","type":"server-state-changed","z":"db81865e.1b9518","name":"House Guest","server":"42443e77.79a5b","version":1,"entityidfilter":"input_boolean.house_guest","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":160,"wires":[[],["8e840c2b.85dbe"]]},{"id":"a29f4972.3bf498","type":"server-state-changed","z":"db81865e.1b9518","name":"HallwayPresence","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.hallway_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1140,"wires":[[],[]]},{"id":"d39650b7.829a6","type":"server-state-changed","z":"db81865e.1b9518","name":"HallwaySW","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.hallway_light_sw","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":106,"y":1070,"wires":[[],[]]},{"id":"247cb8f9.19e088","type":"api-current-state","z":"db81865e.1b9518","name":"HallwayLightState","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"light.hallway","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":506,"y":1070,"wires":[["85e2286c.6add68"],["85e2286c.6add68"]]},{"id":"86a17de3.7522c","type":"api-call-service","z":"db81865e.1b9518","name":"TurnHallwayLightOn","server":"42443e77.79a5b","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hallway","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":1120,"wires":[[]]},{"id":"85e2286c.6add68","type":"change","z":"db81865e.1b9518","name":"SaveHallwayLight","rules":[{"t":"set","p":"HallwayLightState","pt":"flow","to":"msg.payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":726,"y":1070,"wires":[[]]},{"id":"4828d312.e16efc","type":"delay","z":"db81865e.1b9518","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":276,"y":1070,"wires":[["247cb8f9.19e088"]]},{"id":"8effc455.2e66f8","type":"api-current-state","z":"db81865e.1b9518","name":"HallwayLightState","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"light.hallway","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":526,"y":1130,"wires":[[],["86a17de3.7522c"]]},{"id":"2770f6e1.17cafa","type":"api-current-state","z":"db81865e.1b9518","name":"SunState","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"bellow_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":316,"y":1230,"wires":[[],[]]},{"id":"8990427b.abbf2","type":"server-state-changed","z":"db81865e.1b9518","name":"Aluminium Joao Beacon","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.esp32_ble_tracker_joao_beacon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":440,"wires":[["9b6ee622.b13978"],[]]},{"id":"7489a1ea.9a58f","type":"server-state-changed","z":"db81865e.1b9518","name":"Aluminium Bianca Beacon","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.esp32_ble_tracker_bianca_beacon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":149,"y":506,"wires":[["a0e6eaf8.e0c988"],[]]},{"id":"271198f3.20f498","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"home-assistant/location/joao_beacon","qos":"","retain":"false","broker":"b430708b.f3f62","x":690,"y":440,"wires":[]},{"id":"6ced3222.18cecc","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"home-assistant/location/bianca_beacon","qos":"","retain":"false","broker":"b430708b.f3f62","x":699,"y":506,"wires":[]},{"id":"9b6ee622.b13978","type":"change","z":"db81865e.1b9518","name":"Change MSG to Hallway","rules":[{"t":"set","p":"HallwayLightState","pt":"msg","to":"Hallway","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":440,"wires":[["271198f3.20f498"]]},{"id":"a0e6eaf8.e0c988","type":"change","z":"db81865e.1b9518","name":"Change MSG to Hallway","rules":[{"t":"set","p":"HallwayLightState","pt":"msg","to":"Hallway","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":409,"y":506,"wires":[["6ced3222.18cecc"]]},{"id":"d409e84c.781fa8","type":"server-state-changed","z":"8dc7985d.16bdc8","name":"","server":"42443e77.79a5b","version":1,"entityidfilter":"binary_sensor.sonoff_basic_heating_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":237,"y":124,"wires":[["14c7a465.7538fc"],[]]},{"id":"454e5328.52b0ac","type":"api-call-service","z":"8dc7985d.16bdc8","name":"","server":"42443e77.79a5b","version":1,"service_domain":"climate","service":"turn_on","entityId":"climate.heating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":160,"wires":[[]]},{"id":"c23bb33c.37bec","type":"api-call-service","z":"8dc7985d.16bdc8","name":"","server":"42443e77.79a5b","version":1,"service_domain":"climate","service":"turn_off","entityId":"climate.heating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":100,"wires":[[]]},{"id":"14c7a465.7538fc","type":"api-current-state","z":"8dc7985d.16bdc8","name":"","server":"42443e77.79a5b","version":1,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":597,"y":124,"wires":[["c23bb33c.37bec"],["454e5328.52b0ac"]]},{"id":"e64f0257.f98da","type":"mqtt out","z":"95a3bba1.b1fe08","name":"","topic":"datawatt/power/status","qos":"","retain":"","broker":"b430708b.f3f62","x":540,"y":60,"wires":[]},{"id":"a6f4fe59.b2a86","type":"mqtt in","z":"95a3bba1.b1fe08","name":"DataWatt - Power","topic":"jms/topic/ext/8848f38eb8388ff80e8/power","qos":"0","datatype":"json","broker":"a25b1f41.45b3f","x":120,"y":60,"wires":[["e64f0257.f98da"]]},{"id":"c0dda5b1.6c45c8","type":"mqtt in","z":"95a3bba1.b1fe08","name":"DataWatt - Energy / Day","topic":"jms/topic/ext/8848f38eb8388ff80e8/energy/daily","qos":"0","datatype":"json","broker":"a25b1f41.45b3f","x":150,"y":180,"wires":[["13795f9e.2c87a"]]},{"id":"13795f9e.2c87a","type":"mqtt out","z":"95a3bba1.b1fe08","name":"","topic":"datawatt/energy/daily/status","qos":"","retain":"","broker":"b430708b.f3f62","x":520,"y":180,"wires":[]},{"id":"9ed2f430.851b18","type":"mqtt out","z":"95a3bba1.b1fe08","name":"","topic":"datawatt/energy/hour/status","qos":"","retain":"","broker":"b430708b.f3f62","x":520,"y":120,"wires":[]},{"id":"5da447b8.db99b8","type":"mqtt in","z":"95a3bba1.b1fe08","name":"DataWatt - Energy / Hour","topic":"jms/topic/ext/8848f38eb8388ff80e8/energy/hour","qos":"0","datatype":"json","broker":"a25b1f41.45b3f","x":150,"y":120,"wires":[["9ed2f430.851b18"]]},{"id":"6923b902.b7a8a8","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Aspiração da Cozinha","roomhint":"Cozinha","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":210,"y":80,"wires":[["49e91934.dec4e8"]]},{"id":"49e91934.dec4e8","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"python_script","service":"vacuum_room","entityId":"","data":"{\"room\":\"Kitchen\",\"runs\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":80,"wires":[[]]},{"id":"4ea55c5d.686914","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Aspirar Cozinha","roomhint":"Cozinha","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":200,"y":140,"wires":[["49e91934.dec4e8"]]},{"id":"5d916d57.699394","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Aspiração da Sala","roomhint":"Sala de Estar","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":210,"y":240,"wires":[["8229b99b.f906f8"]]},{"id":"8229b99b.f906f8","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"python_script","service":"vacuum_room","entityId":"","data":"{\"room\":\"Living Room\",\"runs\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":240,"wires":[[]]},{"id":"9af6978e.a29ec8","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Aspiração da Casa de Banho","roomhint":"Casa de Banho","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":240,"y":320,"wires":[["28d981a9.c7421e"]]},{"id":"28d981a9.c7421e","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"python_script","service":"vacuum_room","entityId":"","data":"{\"room\":\"Bathroom\",\"runs\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":320,"wires":[[]]},{"id":"c972f752.10ad38","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Aspiração do Quarto","roomhint":"Quarto","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":210,"y":400,"wires":[["c0dc7d0f.41c8a"]]},{"id":"c0dc7d0f.41c8a","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"python_script","service":"vacuum_room","entityId":"","data":"{\"room\":\"Bedroom\",\"runs\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":400,"wires":[[]]},{"id":"f5eb37d8.7f1e58","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Aspiração da Escritório","roomhint":"Escritório","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":218,"y":529,"wires":[["26b7b570.8f6cea"]]},{"id":"26b7b570.8f6cea","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"python_script","service":"vacuum_room","entityId":"","data":"{\"room\":\"Office\",\"runs\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":638,"y":529,"wires":[[]]},{"id":"fe40a131.d7ea4","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Aspiração do Corredor","roomhint":"Corredor","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":220,"y":600,"wires":[["b09cd5bf.86d738"]]},{"id":"b09cd5bf.86d738","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"python_script","service":"vacuum_room","entityId":"","data":"{\"room\":\"Hallway\",\"runs\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":600,"wires":[[]]},{"id":"98f72d7b.59fbc","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Aspiração do Quarto do Ricardo","roomhint":"Quarto dos Fundos","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":249,"y":680,"wires":[["a0420a3a.c06938"]]},{"id":"a0420a3a.c06938","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"python_script","service":"vacuum_room","entityId":"","data":"{\"room\":\"Guest Bedroom\",\"runs\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":639,"y":680,"wires":[[]]},{"id":"20d530af.a4ef6","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Aspiração da Casa de Banho do Quarto","roomhint":"Quarto","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":270,"y":460,"wires":[["2c53bf82.b9448"]]},{"id":"2c53bf82.b9448","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"python_script","service":"vacuum_room","entityId":"","data":"{\"room\":\"BedroomBath\",\"runs\":\"1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":460,"wires":[[]]},{"id":"e27d2fb8.7a5d1","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Velocidade Máxima do Aspirador","roomhint":"","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":250,"y":760,"wires":[["39d8d330.1643dc"]]},{"id":"39d8d330.1643dc","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.roborock","data":"\"fan_speed\": \"max\"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":760,"wires":[[]]},{"id":"cdec66e9.0701a8","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Velocidade Mínima do Aspirador","roomhint":"","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":250,"y":820,"wires":[["cff72549.79c1c8"]]},{"id":"cff72549.79c1c8","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.roborock","data":"\"fan_speed\": \"min\"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":820,"wires":[[]]},{"id":"4ffa9491.72257c","type":"nora-scene","z":"c312ceb4.aa698","devicename":"Velocidade Média do Aspirador","roomhint":"","scenereversible":false,"name":"","nora":"80cf2236.b57b3","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":250,"y":880,"wires":[["fb03dce1.977c6"]]},{"id":"fb03dce1.977c6","type":"api-call-service","z":"c312ceb4.aa698","name":"","server":"42443e77.79a5b","version":1,"debugenabled":false,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.roborock","data":"\"fan_speed\": \"medium\"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":880,"wires":[[]]}]